{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="icon" href="https://app5593.acapp.acwing.com.cn/static/image/logo.jpg">
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="ac_game_12345678"></div>
    <script type="module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";

        $(document).ready(function() {
            let ac_game = new AcGame('ac_game_12345678', null, '{{ access }}', '{{ refresh }}');
        });
    </script>
</body>
</html>